body {
    background: #eee;
}

.container {
    width: 80%;
    margin: 0 auto;
    background: white;
}

header.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    padding: 10px 0;
}

.logo .logo-img {
    width: 100px;
}

.search-bar {
    width: 70%;
}

.search-bar .magnifying-glass {
    width: 15px;
}

.search-bar input {
    width: 90%;
    padding: 5px;
}

.upload .upload-icon {
    width: 20px;
}

.language-selection, .language-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px;
}

.language-selection {
    background: #267ac6;
}

.language-selection .icon-text {
    display: flex;
    align-items: center;
}

.language-selection p {
    font-size: 10px;
}

.message {
    margin: 10px 0;
    border: 2px solid #267ac6;  
}

.message h4 {
    padding: 0 10px;
}

.language-description p {
    color: #333;
    font-size: 12px
}

.language-description .more {
    color: #267ac6;
}

.language-description .more:hover {
    cursor: pointer;
}
