body {
    background: #eee;
    font-family: 'Roboto', sans-serif;

}

.container {
    width: 80%;
    margin: 0 auto;
    background: white;
}

header.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    padding: 10px 0;
}

.logo .logo-img {
    width: 100px;
}

.search-bar {
    width: 70%;
    display: flex;
}

.search-bar .magnifying-glass {
    width: 15px;
}

.search-bar input {
    width: 90%;
    padding: 5px;
    border: 1px solid #afaeae;
}

.search-bar .search-icon {
    border: 1px solid #afaeae;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F8F8;
}

.upload .upload-icon {
    width: 20px;
}

.language-selection, .language-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px;
}

.language-selection {
    background: #267ac6;
}

.language-selection .icon-text {
    display: flex;
    align-items: center;
}

.language-selection p {
    font-size: 10px;
}

.message {
    margin: 10px 0;
    border: 2px solid #267ac6;  
}

.message h4 {
    padding: 0 10px;
}

.language-description p {
    color: #333;
    font-size: 12px
}

.language-description .more {
    color: #267ac6;
}

.language-description .more:hover {
    cursor: pointer;
}

.sign-in-button {
    background-color: #267ac6;
    font-size: 10px;
    border: none;
    color: white;
    padding: 8px;
    
}

.video-player {
    width: 60%;
}

.video-player iframe {
    width: 100%;
}

.info {
    margin: 20px 0;
}

.info h1 {
    font-size: 20px;
    font-weight: 400;
}

.info .thumbnail {
    background: #689F39;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .thumbnail p {
    font-size: 28px;
    color: white;
}