body {
    background: #eee;
}

.container {
    width: 80%;
    margin: 0 auto;
    background: white;
}

header {
    display: flex;
}

.logo .logo-img {
    width: 100px;
}

.search-bar {
    width: 70%;
    background: red;
}

.search-bar .magnifying-glass {
    width: 15px;
}

.search-bar input {
    width: 90%;
}

.upload .upload-icon {
    width: 20px;
}